# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build
build/
.build/
macos_build
macos_staging
archive
DRM

# SPM
SourcePackages
.swiftpm/
Package.resolved

# Generated
*.xcodeproj
Beeper/barcelona-mautrix/Info.plist

# IDE
.idea/
.vscode/

# Code coverage
*.gcda
*.gcno
*.profraw
*.profdata
